<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <link rel="stylesheet" href="/static/css/uikit.min.css">

    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="uk-container uk-margin-large-top">
    <form class="uk-grid-small" uk-grid>
        <div class="uk-width-1-4">
            <input class="uk-input" type="text" placeholder="Nazwa książki" name="filter_name">
        </div>
        <div class="uk-width-expand">
            <button class="uk-button uk-button-primary">
                Filtruj
            </button>
        </div>
    </form>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Data wydania</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publication_date }}</td>
                <td>
                    <a href="{{ url_for('find_book_by_id', book_id = book.book_id) }}">
                        Szczegóły
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>